
h2{
    background-color: rgb(165, 42, 134);
    color: cyan; /* '!important' se sobrepõe as todas as precedências */
}

.h2_especifico{
    background-color:darkorchid;
    color: #00ffff;
}

#h2_mais_especifico{
    background-color:forestgreen;
    color: gold;
}

