body{
    padding: 1em;
}

object{
    width: 100%;
    height: 20em;
}

aside{
    width: 15%;
    margin: 0.5%;
    min-height: 10em;
    max-height: 50em;
    height: fit-content;
    background-color:lightyellow;
    float: left;
}

